*{
margin:0 ;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: var(--escuro);
    color: var(--claro);
    max-width: 100%;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.container{
    width:100% ;
    height:var(--height);
}

.carrossel{
width: 100%;
display: flex;
position: relative;
}

.item{
width:var(--width);
height: var(--height);
position: absolute;
left:100% ;
animation: autoRun 10s linear infinite;
cursor: pointer;
padding: 0;
margin: 0;
}

.item2{
width:var(--width);
height: var(--height);
position: absolute;
left:100% ;
animation: autoRun 9s linear infinite;
cursor: pointer;
padding: 0;
margin: 0;
}

.container.reverse .item{
    animation: reverseRun 10s linear infinite;

}

.container.reverse .item2{
    animation: reverseRun 9s linear infinite;

}

.item img{
    width: 100%;
}

.item2 img{
    width:100%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }
    to{
      left: -50px;  
    }
}

@keyframes reverseRun {
 from{
        left: -200px;
    }
    to{
      left: 100%;  
    }

}

.banner{
    padding: 0;
    margin: 0;
    display: flex;
}

.botão{
cursor: pointer;
transition: transform 0.3s ease, background-color 0.3s ease;


}

.botão:hover{
    transform: scale(1.2);
}


a{    
text-decoration: none;
color: white;
font-size: 18px;
padding: 10px;
}

@media (max-width: 600px) {
    .carrossel {
        flex-direction: column;
        align-items: center;
    }
    
    .item, .item2 {
        margin-bottom: 10px;
        
    }

    .item{
margin-left: 2remx  ;

    }

}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgba(15, 23, 42, 0.2);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding:0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0; 
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{

    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    
}

:root {
  --primaria:#4f46e5;
  --secundaria:#7c3aed;
  --escuro:#1e293b;
  --claro:#f8f8f8;
  --maisEscuro:#0a0f1c;
  --vidro: rgba(255,255,255,0.1);
}


.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisEscuro);
}